

body {
  
    background-color:powderblue;
    background-size: auto;
    
   }
   
   ul {
    list-style: none;
   }

   nav {
    background-color: grey;
    
   }

   nav ul {
    
    gap: 10px;
   }
 
   nav ul a {
    text-decoration: none;
    color: purple;
    font-size: larger;
    font-weight: 600;
   }
   nav ul a:hover {
    color: orange
    
   }


   nav ul img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
   }

   /* nav img {
    margin-right: 900px;
   }
 */
   .container ul img {
    width: 300px;
    height: 200px;


   }
   .container ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   }

   main h1, h2, p, button {
    text-align: center;
    margin: auto;
   }
   
   .price, .button {
   width: 300px;
    border: solid purple;
    margin-top: 2px;
    margin-left: 0;
    justify-content: left;
    font-weight: 800;
    background-color: orange;
   }

   .button {
     height: 40px;
     background-image: linear-gradient(rgb(222, 160, 230), rgb(126, 7, 130));
     border: none;
     border-radius: 50px;
     color: #fff;
     font-weight: bold;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     cursor: pointer;
     box-shadow: 1px 3px 0px rgb(100,40,112);
     transition: transform o.3s ease box-shadow 0.3s ease;
     
    }

    .button:active {
      transform: translateX(2px);
      box-shadow: 0px 1px 0px rgb(139,113,253);
      padding-bottom: 1px;
      
     }
 

   main ul img {
    justify-content: center;
   }


   
   footer {
    bottom: 0;
    background-color: grey;
   }


   
   footer ul a {
    text-decoration: none;
    color: purple;
    font-size: larger;
    font-weight: 600;
   }
   footer ul a:hover {
    color: orange
    
   }


  
  
  /* || XSMALL */
@media screen and (min-width: 320px) {
    body {
      background-color: green;
      background-image: radial-gradient(whitesmoke, green)
    }

    nav {
        display: block;
    }
    .container ul {
        display: flex;
        flex-direction: column;
        
       }
    
    

   /*  nav {
      display: none;
    } */
  }

   /* || SMALL */
@media screen and (min-width: 576px) {
    body {
      background-color: green;
      background-image: radial-gradient(whitesmoke, green)
    }

    nav ul a{
        display: block;
    }


    .container ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
                
       }

      

   
  }
 
  
  /* || MEDIUM */
  @media screen and (min-width: 768px) {
    body {
      background-color: gold;
      background-image: radial-gradient(whitesmoke, gold)
    }
    
    
    .container ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
       }

       nav a {
        text-wrap: wrap;
        display: block;
       }

           
  }
  
  /* || LARGE */
  @media screen and (min-width: 992px) {
    body {
      background-color: firebrick;
      background-image: radial-gradient(whitesmoke, firebrick)
    }
  }
  
  /* || XL  */
  @media screen and (min-width: 1200px) {
    body {
      background-color: rebeccapurple;
      background-image: radial-gradient(whitesmoke, rebeccapurple)
    }
  }
  
  /* || MOBILE DEVICE LANDSCAPE  */
  @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    body {
      background-color: dodgerblue;
      background-image: radial-gradient(whitesmoke, dodgerblue)
    }
  
   
  }

   
   